.amb{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 25px;
    border-radius: 8px;
    padding: 50px 40px;
    width: 350px;
}

.content{
    line-height: 35px;
    font-size: 16px;
    padding: 15px 0px 17px;
}

input {
    width: 337.5px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

label {
    display: block;
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    height: 35px;
    background-color: rgb(81, 233, 81);
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(74, 204, 74);
}

button:active{
    background-color:rgb(121, 224, 121)
}

.unclickable {
    background-color: rgb(238, 238, 238);
}