* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 233, 233);
}

.box {
  width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}